<h2>Add an entity</h2>
<label for='latitude'>Latitude:</label>
<input ng-model='form.latitude' name='latitude'/>
<label for='longitude'>Logitude:</label>
<input ng-model='form.longitude' name='longitude'/>
<label for='category'>Category:</label>
<input ng-model='form.category' name='category'/>
<p>
	<button ng-click='submitEntity()'>Submit Entity</button>
</p>

<div>
ie.
latitude: '39.758947800000000000',
  longitude: '-84.191606900000010000',
  category: 'US',
  </div>
