<h2>Details</h2>
<a href='#'>Back</a>
<div> id: {{entity._id}}</div>
<div> key: {{entity.key}}</div>
<div> lat: {{entity.latitude}}</div>
<div> long: {{entity.longitude}}</div>
<div> cat: {{entity.category}}</div>
<hr/>
<a href="#/editEntity/{{entity._id}}">Edit</a> | <a href="#/deleteEntity/{{entity._id}}">Delete</a>

<h3>Child Entities</h3>
<table class="table table-striped" ng-show="entity.childentities.length > 0">
	<thead>
		<tr>
			<th>Id</th>
			<th>Lat</th>
			<th>Long</th>
			<th>Timestamp</th>
		</tr>
	</thead>
	<tbody ng-repeat="item in entity.childentities">
		<tr>
			<td>{{item._id}}</td>
			<td>{{item.latitude}}</td>
			<td>{{item.longitude}}</td>
			<td>{{item.timestamp}}</td>
		</tr>
	</body>
</table>

