<h2>Edit Entity</h2>
<label for='latitude'>Latitude:</label>
<input ng-model='form.latitude' name='latitude'/>
<label for='longitude'> Longitude:</label>
<input ng-model='form.longitude' name='longitude'/>
<label for='category'>Category:</label>
<input ng-model='form.category' name='category'/>
<p>
	<button ng-click='editEntity()'>Update</button>
</p>
