<a href="#/addEntity">Add Entity Manually</a>
<br/>
<hr>

(started at {{currentTime}})

<p>new entity count {{count}}</p>
<div class="well well-small">
	<h2>New Entites (streaming)</h2>
	<a href='#/map'>Map It</a>
</div>
<table class="table table-striped" ng-show="newentities.length > 0">
	<thead>
		<tr>
			<th>Actions</th>
			<th>Id</th>
			<th>Category</th>
			<th>Key</th>
			<th>Timestamp</th>
		</tr>
	</thead>
	<tbody ng-repeat="entity in newentities">
		<tr>
			<td>
				<a href='#/detailsEntity/{{entity._id}}'>More</a> | <a href='#/editEntity/{{entity._id}}'>Edit</a> | <a href='#/deleteEntity/{{entity._id}}'>Delete</a>
			</td>
			<td>{{entity._id}}</td>
			<td>{{entity.category}}</td>
			<td>{{entity.key}}</td>
			<td>{{entity.timestamp}}</td>
		</tr>
	</body>
</table>

<hr/>

<div class="well well-small">
<h2>Entites from last 2 minutes</h2>
<p> There are {{entities.length}} entities</p>
</div>
<p ng-show="entities.length === 0">There are no entities</p>

<table class="table table-striped" ng-show="entities.length > 0">
	<thead>
		<tr>
			<th>Actions</th>
			<th>Id</th>
			<th>Category</th>
			<th>Key</th>
			<th>Timestamp</th>
		</tr>
	</thead>
	<tbody ng-repeat="entity in entities">
		<tr>
			<td>
				<a href='#/detailsEntity/{{entity._id}}'>More</a> | <a href='#/editEntity/{{entity._id}}'>Edit</a> | <a href='#/deleteEntity/{{entity._id}}'>Delete</a>
			</td>
			<td>{{entity._id}}</td>
			<td>{{entity.category}}</td>
			<td>{{entity.key}}</td>
			<td>{{entity.timestamp}}</td>
		</tr>
	</body>
</table>

