{{count}}
<div id="map"></div>
<p>{{currentItem}}<p>
<table class="table table-striped" ng-show="entities.length > 0">
	<thead>
		<tr>
			<th>Lat</th>
			<th>Long</th>
		</tr>
	</thead>
	<tbody ng-repeat="entity in entities">
		<tr>
			<td>{{entity.latitude}}</td>
			<td>{{entity.longitude}}</td>
		</tr>
	</body>
</table>