<!DOCTYPE html>
<html ng-app="myApp">
  <head>
	  <title><%= title %></title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <meta name="apple-mobile-web-app-capable" content="yes">
	  <link href="/css/app.css" rel="stylesheet">
    <!--<link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link href="/css/map.css" rel="stylesheet">-->

  </head>
  <body>
	  <div class="container" ng-view></div>

      <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
	  <script src="http://openlayers.org/dev/OpenLayers.js"></script>
	  <script src='js/lib/angular/angular.js'></script>
	  <script src='js/lib/other/underscore-min.js'></script>
	  <script src='js/lib/angular/angular-underscore.js'></script>
	  <!--<script src='/socket.io/socket.io.js'></script>-->
	  <script src="entity/client.js"></script>
	  <script src='js/app.js'></script>
	  <script src='js/services.js'></script>
	  <script src='js/controllers.js'></script>
	  <script src='js/filters.js'></script>
	  <script src='js/directives.js'></script>

  </body>
</html>

